img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    
  }
  
  header { 
  border: dotted;  
  background: skyblue;  
  height: 15%;
  width: 100vw;
  padding: 10px 10px;
  position: fixed; 
  opacity: 75%;
  font-size: 15px;
  text-align: center;
  }
  #header-img {
    width: 15vw;
    height: 15vh;
    display: flex;
    margin-top: -80px;
  }
  
  h1 {
    text-align: center;
    color:black;
    font-family: 'Staatliches', cursive;
  }
  body {
    color: white;
    font-size: 20px;
  }
  
  
  footer {
   border: 5px solid;
   background: linear-gradient(
        135deg,
        magenta 100px,
        cyan 180px,
        lime 300px,
        yellow 350px
      );
      text-align: right;
  }
  a {
    color: black;
    font-size: 25px;
  }
  a:hover {
    color: white;
    filter: brightness(150%);
  }
  #background {
      width: 100vw; 
      height: 120vh; 
      position: fixed; 
      left: 0px; 
      top: 0px; 
      z-index: -1;
  }
  p {
    font-size: 20px;
  }
  h3 {
    text-align: left;
  }
  
  h5 {
    color: #ffffff;
  }
  
  .section {
    height: 40vh;
    width: auto;
    font-size: 30px;
    color: lime;
  }
  #section2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 90%;
    margin: auto;
  }
  .pbx{
    height: 25vh;
    width: 25vw;
    background-color: #ffffff;
    padding: 10px;
    grid-row-start: 2;
    margin-top: 5px;
    border-radius: 20px;
  }
  .pbximg {
    width: 25%;
    height: 18%;
  }
  #section3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 90%;
    margin: auto;
  }
  .fbx{
    height: 25vh;
    width: 25vw;
    background-color: #ffffff;
    padding: 10px;
    grid-row-start: 2;
    margin-top: 5px;
    border-radius: 20px;
  }
  
  .fashionpic {
    width: 25%;
    height: 25%;
  }
  
  
  @media only screen and (max-width: 800px){
    body {
    flex-wrap: wrap;
    }
    input {
      display: box;
      border-radius: 10px;
      color: red;
      background: skyblue;
    }
    input:hover {
      background: gold;
    }
    .nav-link {
      font-size: 25px;
      color: white;
    }}
